    
    h1{
        text-align: center;
    }

    h2{
        text-align: center;

    }
    
     .wrapper, .button  {
        text-align: center;
        margin: 6px 5px 0;
    }

    nb-toggle
    {
        display: block;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 100px 100px 100px;   
        grid-template-rows  : 100px 100px 100px;  
        row-gap: 15px;
        column-gap: 15px; 
        justify-content: center;
        transition: height 0.66s ease-out;
        
    }
    
    app-square {
        height: 110px;
        width: 110px;
    }