<h1 [@faderino]>Current Player: {{ player }}</h1>

<div [@faderino] class ="wrapper">
    <button class ="button" nbButton outline status="danger" (click) ="newGame()">Start new Game</button>
    <button class ="button" nbButton outline status="danger" (click) ="resetScr()">Reset ScoreBoard</button>
</div>  


<h2 *ngIf="(winner == null)">&nbsp;</h2>

<h2 [@faderino] *ngIf="(winner) && (winner != 'draw'); else draw;">
        Player {{ winner }} won the game!
</h2>   

<ng-template #draw >
    <h2 [@faderino] *ngIf="(winner=='draw')">
        It's a draw!
    </h2>
</ng-template>

<main [@drop] = "currentState">
     
        <app-square
            *ngFor="let val of squares; let i = index" 
            [value]="val"
            (click)="makeMove(i)" 
            [flag]="winner">
        </app-square>

</main>
<nb-toggle [(checked)] = "mode">Single Player</nb-toggle>



